@import url('https://fonts.googleapis.com/css?family=Bungee|Open+Sans|Pacifico');

body {
    background: url(rock.gif);
    font-family: 'Open Sans', sans-serif;
}

header {
    position: relative;
    margin-bottom: -3.4vw;
}

main {
    width: 80%;
    background-color: whitesmoke;
    margin: 1rem auto;
}

.actions .button{
    margin-bottom: 0;
}

.flickName {
    margin: 0 0.75rem;
}

.template {
    display: none;
}