@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

ul > li {
    list-style: none;
}

li > button {
    margin-left: .5rem;
}

ul:nth-of-type(even) {
    background-color: whitesmoke;
}